# Question 2 Part 2
- Use 'employee_compensation' data set
- Data contains fiscal and calendar year information. Same employee details exist twice in the dataset. Filter data by calendar year and find average salary (you might have to find average for each of the columns for every employee. Eg. Average of Total Benefits, Average of total compensation etc.) for every employee
- Now, find the people whose overtime salary is greater than 5% of salaries (salaries refers to ’Salaries' column)
- For each ‘Job Family’ these people are associated with, calculate the percentage of total benefits with respect to total compensation (so for each job family you have to calculate average total benefits and average total compensation). Create a new column to hold the percentage value
- Display the top 5 Job Families according to this percentage value using df.head()
- Write the output (jobs and percentage value) to a csv

In [1]:
import pandas as pd

In [23]:
# filter calendar year and maintain useful columns
raw_df = pd.read_csv('Data/employee_compensation.csv')
raw_df = raw_df[raw_df['Year Type'] == 'Calendar']
col_list = ['Job Family', 'Employee Identifier' , 'Salaries', 'Overtime', 'Total Benefits', 'Total Compensation']
raw_df = raw_df[col_list]
raw_df.head(4)

,Job Family,Employee Identifier,Salaries,Overtime,Total Benefits,Total Compensation
0,Journeyman Trade,52206,98528.52,0.00,41432.55,143916.66
2,Management,33958,200.00,0.00,67.28,267.28
3,Legal & Court,33073,1783.00,0.00,736.13,2519.13
5,"Clerical, Secretarial & Steno",23930,80207.24,2232.53,35843.78,119851.55

In [24]:
# get averages (Job Family & Employee Identifier should be maintained)
employee_mean = raw_df.groupby(['Job Family', 'Employee Identifier'], as_index=False).mean()
employee_mean.head(4)

,Job Family,Employee Identifier,Salaries,Overtime,Total Benefits,Total Compensation
0,Administrative & Mgmt (Unrep),2321,291241.175,0.0,89270.9525,380512.1275
1,Administrative & Mgmt (Unrep),4800,14463.000,0.0,6037.4200,20500.4200
2,Administrative & Mgmt (Unrep),5547,205073.100,0.0,78468.9200,283542.0200
3,Administrative & Mgmt (Unrep),5662,128370.200,0.0,31723.2200,160093.4200

In [28]:
# get those rows where overtime > 5% of salaries
over_time = employee_mean[employee_mean['Overtime'] > employee_mean['Salaries']*0.05]
over_time.head(4)

,Job Family,Employee Identifier,Salaries,Overtime,Total Benefits,Total Compensation
90,Administrative-Labor & Trades,5727,123810.3575,32152.7675,49004.2575,236983.73
92,Administrative-Labor & Trades,8353,66924.4050,59010.0100,30076.5150,167640.23
93,Administrative-Labor & Trades,10523,51481.5300,21225.3300,23231.4100,128672.34
97,Administrative-Labor & Trades,13187,55484.0000,9646.6800,18306.0300,95239.71

In [29]:
# drop unnecessary columns
col_list = ['Job Family', 'Total Benefits', 'Total Compensation']
cut_df = over_time[col_list]
cut_df.head(4)

                       Job Family  Total Benefits  Total Compensation
90  Administrative-Labor & Trades      49004.2575           236983.73
92  Administrative-Labor & Trades      30076.5150           167640.23
93  Administrative-Labor & Trades      23231.4100           128672.34
97  Administrative-Labor & Trades      18306.0300            95239.71

In [30]:
# drop unnecessary columns
job_family = cut_df.groupby(['Job Family'], as_index=False).mean()
job_family.head(4)

                      Job Family  Total Benefits  Total Compensation
0  Administrative-Labor & Trades    35398.450119       162831.632560
1     Agriculture & Horticulture    27886.590323        94075.711769
2              Airport Operation    33661.152255       122059.011671
3  Budget, Admn & Stats Analysis    22721.521375        79834.029938

In [33]:
# get average and sort in descending order
job_family['Percentage_Total_Benefit'] = job_family['Total Benefits'] / job_family['Total Compensation'] * 100
out_df = job_family.sort_values(by='Percentage_Total_Benefit', ascending=False)
out_df.head(5)

,Job Family,Total Benefits,Total Compensation,Percentage_Total_Benefit
34,Public Service Aide,12081.252503,34013.789743,35.518690
23,Park & Zoo,22168.769722,65363.664630,33.916045
9,Energy & Environment,14254.410000,43219.500000,32.981432
37,Revenue,15629.204089,47641.781767,32.805667
21,Museum & Cultural Affairs,27037.390000,83926.070000,32.215723

In [34]:
# save to csv
out_df.to_csv('output_csv/q2p2_output.csv',index=False,header=True)